.signin-form {
    max-width: 35em;
    margin: 5em auto 0;
    background:rgba(255, 255, 255, .8);
    border-radius:10px;
}

.signin-form fieldset {
    border-radius:10px;
    border: 1px solid #030303;
    padding: 1.5em 1.5em 0.5em;
    margin: 1em 0;
    position: relative;
}

.signin-popup {
    position: absolute;
    top: 6px;
    width:200px;
    text-align: center;
    left: calc(50% - 100px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.signin-popup:hover {
    overflow:visible;
}

.signin-popup-error {
    color:red;
}


/* Calc offset is based on the width of the (object / 2) #Object divided by 2*/
legend {
    font-family: var(--header-font);
    position: absolute;
    left: calc(50% - 50px);
    top: -35px;
    border-bottom: 1px solid black;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    width:100px;
    text-align: center;
}

.signin-form input[type=text], .signin-form input[type=password], .signin-form input[type=email], .signin-form textarea{
    width: 100%;
}

.signin-form input, .signin-form select, .signin-form textarea {
    padding: 4.25px 10px;
    border-color:deepskyblue;
    border-radius:10px;
    outline:none;
    margin: 0 auto 1em;
    font-family: var(--main-font)
}

.signin-form input[type=radio], .signin-form input[type=checkbox], .signin-form select, .signin-form input[type=submit] {
    cursor:pointer;
}

.signin-form select {
    height: 2.5em;
    width: 8em;
}

input:focus {
    border-color:#9147FF;
}

input[type=submit] {
    display:block;
    width: 8em;
    margin: 1em auto;
}
