.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    position: relative;
    font-size: 1.2em;
    border: 1px solid black;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.15);
    border-radius: 5px;
    cursor: pointer;
}

.button-new {
    background:rgb(18, 156, 18);
    padding: 10px 20px 10px 10px;
}
.button-edit {
    padding: 5px;
    background: orange;
}
.button-remove {
    padding: 5px;
    background: red;
}


@media screen and (max-width: 37.5em) {
    button {
        width: 100%;
    }
}