.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    position: relative;
    font-size: 1.2em;
    border: 1px solid black;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.15);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}



button span  a {
    color:black;
}

button span a:hover {
    color:black;
}

.button-new {
    padding: 10px 20px 10px 10px;
    background-color:rgb(18, 156, 18);
}


.button-edit {
    padding: 5px;
    background-color: orange;
}

.button-remove {
    padding: 5px;
    background-color: red;
}

.button-done {
    padding: 5px  5px 8px 5px;
    background-color: #3AC470;
    width: 100px;
    
}

.button-new:hover, .button-edit:hover, .button-remove:hover, .button-done:hover {
    background-color: rgba(25, 173, 192, 0.548);
}

.center {
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.submit-wrapper {
    display:flex;
    position: relative;
    justify-content: center;
    padding-top: 5px;
}




@media screen and (max-width: 37.5em) {
    .button-new {
        width: 100%;
    }
}