/* temporary code */
.notification {
    position: absolute;
    top:calc(50% - 128px);
    left: calc(50% - 117.5px);
    border-radius: 10px;
    text-align: center;
    padding:10px;
}

.error {
    background-color:rgba(119, 17, 17, 0.6);
}

.greetings {
    background-color:rgba(40, 40, 141, 0.6);
}
